$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #949999;
  font-family: 'Muli', sans-serif;
}

#jumbo {
  background-color: #05f1ff;
}

.vertical-center {

  display: flex;
  align-items: center;
}

.playerinfobutton {
  margin: 5px;
}

.team-logo {
  // width: 212px;
  // height: 200px;
  width: 150px;
  height: 140px;
}

.playercard {
    padding: 20px;
}

.player-search-result {
  width: 350px;
}

#playerlist {
  height: 350px;
}

#team-selection {
  width: 250px;
}

#player-search-box {
  height: 895px;
  max-height: 895px;
}

#standings-box {
  height: 895px;
}
